/***********************************************/
/* css.css                             */
/* Use with template 3col_leftNav.html          */
/***********************************************/

/***********************************************/
/* HTML tag styles                             */
/***********************************************/ 

.ocultar {
	display: none;
}


body{
	font-family: Arial,sans-serif;
	font-family: small "Trebuchet MS";
	/*font: small "Trebuchet MS";*/
	color: #333333;
	line-height: 1.166;	
	margin: 0px;
	padding: 0px;
}

/*************************/
/*input, textarea ,select{
	border:3px double #ccc;
	background-color:#fafafa;
}
*/

/*a{
	color: #006699;
	text-decoration: none;
}
*/
/*a:link{
	color: #006699;
	text-decoration: none;
}

a:visited{
	color: #006699;
	text-decoration: none;
}

a:hover{
	color: #006699;
	text-decoration: underline;
}
*/
h1{
 font-family: Verdana,Bitstream Vera Sans, Sans,Sans-serif;
 font-size: 120%;
 color: #334d55;
 margin: 0px;
 padding: 0px;
}

h2{
 font-family: Verdana,Bitstream Vera Sans, Sans,Sans-serif;
 font-size: 75%;
 color: #333333;
 margin: 0px;
 padding: 0px;
}

h3{
 font-family: Verdana,Bitstream Vera Sans, Sans,Sans-serif;
 font-size: 100%;
 color: #334d55;
 margin: 0px;
 padding: 0px;
}

h4{
 font-family: Verdana,Bitstream Vera Sans, Sans,Sans-serif;
 font-size: 100%;
 font-weight: normal;
 color: #333333;
 margin: 0px;
 padding: 0px;
}

h5{
 font-family: Verdana,Bitstream Vera Sans, Sans,Sans-serif;
 width:100%;
 font-size: 10px;
 font-weight:bold;
 color: #333333;
 margin: 0px; 
 padding: 4px;
}

ul{
 list-style-type: square;
}

ul ul{
 list-style-type: disc;
}

ul ul ul{
 list-style-type: none;
}

label{
 font-family: Verdana,Bitstream Vera Sans, Sans,Sans-serif;
 font-size: 100%;
 font-weight: bold;
 color: #334d55;
}


/***********************************************/
/* Layout Divs                                 */
/***********************************************/

#masthead{
	padding: 10px 0px 0px 0px;
	border-bottom: 1px solid #cccccc;
	width: 100%;
}

#navBar{
	
	width: 99.9%;
/*	width: 98%;*/
/*	margin: 3px;*/
	margin: 0px;
/*	padding: 1px;*/
	padding: 0px;
/*	background-color: #eeeeee;*/	
	background-color: #FC985C;
	border-right: 1px solid #cccccc;
	border-left: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	
}

#headlines{
  float:right;
	width: 20%;
	border-left: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	padding-right: 10px;
}

#content{
	float: left;
  width: 90%;
  text-align:justify;
}

/***********************************************/
/* Components                                  */
/***********************************************/

#siteName{
	margin: 0;
	padding: 0 0 0 10px;
}



/************* #globalNav styles **************/

#globalNav{
padding: 0px 0px 0px 10px;
border-bottom: 1px solid #CCC;
color: #cccccc;
}

#globalNav img{
 display: block;
}

#globalNav a {
	font-size: 80%;
	padding: 0 4px 0 0;
}

/*************** #pageName styles **************/

#pageName{
	margin: 0px;
	padding: 0px 0px 0px 10px;
	background:#E6E6E6;
	height:10px;
}

/************* #breadCrumb styles *************/

#breadCrumb{
	font-size: 72%;
	padding: 2px 0px 0 10px;
}


/************** .feature styles ***************/

.feature{
	padding: 0px 0px 10px 10px;
	font-size: 70%;
}

.feature h3{
	padding: 30px 0px 5px 0px;
	text-align: center;
}

.feature img{
	float: left;
	padding: 10px 10px 0px 0px;
}


/************** .story styles *****************/

.story{
	clear: both;
	padding: 10px 0px 0px 10px;
	font-size: 70%;
}

.story p{
	padding: 0px 0px 10px 0px;
}


/************* #siteInfo styles ***************/

#siteInfo{
	clear: both;
	border: 2px solid #cccccc;
	font-size: 85%;
	color: #cccccc;
	padding: 10px 10px 10px 10px;
}

#siteInfo img{
	padding: 4px 4px 4px 10px;
	vertical-align: middle;
}


/************* #search styles ***************/

#search{
	padding: 5px 0px 5px 10px;
	border-bottom: 1px solid #cccccc;
	font-size: 90%;
}

#search form{
 margin: 0px;
 padding: 0px;
}

#search label{
	display: block;
	margin: 0px;
	padding: 0px;
}




#sectionLinks a:hover{
	background-color: #dddddd;
}


/*********** .relatedLinks styles ***********/

.relatedLinks{
	position: relative;
	margin: 0px;
	padding: 0px 0px 10px 10px;
	font-size: 90%;
}

.relatedLinks h3{
	padding: 10px 0px 2px 0px;
}

.relatedLinks a:link,
.relatedLinks a:visited {
	display: block; 
}

/************** #advert styles **************/

#advert{
	padding: 30px 0px 10px;
}

#advert img{
	display: block;
}


/************** #headlines styles **************/

#headlines{
	margin: 0px;
	padding: 10px 0px 20px 10px;
	font-size: 80%;
}

#headlines p{
	padding: 5px 0px 5px 0px;
}


.texto1{
	font-family:Verdana,Bitstream Vera Sans, Sans,Sans-serif;
	font-size:10px;	
	font-weight:bold;
	color: #cccccc;
}
.texto2{
	font-family:Verdana,Bitstream Vera Sans, Sans,Sans-serif;
	font-size:9px;	
	font-weight:bold;
	color:#FFFFFF;
}

.boton {
	font-family: Verdana,Bitstream Vera Sans, Sans,Sans-serif;
	;
	font-size: 10px;
	font-weight: normal;
	color: #333333;
	text-decoration: none;
	background-color: #E2E2E2;
	border: thin solid #ACACAC;	
	cursor:pointer;
}

.texto3{
	font-family:Verdana,Bitstream Vera Sans, Sans,Sans-serif;
	font-size:10px;
	text-align:inherit;
	font-weight:bold;
	color:#333333;
	text-decoration: none;
}
.texto4 {
	font-family: Verdana,Bitstream Vera Sans, Sans,Sans-serif;
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	text-transform: uppercase;
	color: #003366;
	text-decoration: none;
}
.texto_azul_BIG {
	font-family: Verdana,Bitstream Vera Sans, Sans,Sans-serif;
	font-size: 20px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	text-transform: uppercase;
	color:#006699;
	text-decoration: none;
}
.texto5 {
	font-family: Verdana,Bitstream Vera Sans, Sans,Sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: 100;
	color: #333333;
	text-decoration: none;
}
.texto_rojo {
	font-family: Verdana,Bitstream Vera Sans, Sans,Sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #C72B15;
	text-decoration: none;
}

.texto_mensaje{
	font-family: Verdana,Bitstream Vera Sans, Sans,Sans-serif;
	font-size:12px;
	color:#333333;
}

.texto_azul {
	font-family: Verdana,Bitstream Vera Sans, Sans,Sans-serif;
	font-size: 10px;
	font-weight: bold;
	color:#006699;
	text-decoration: none;
}
	
.texto_rojo_intro {
	font-family: Verdana,Bitstream Vera Sans, Sans,Sans-serif;
	font-size: 18px;
	font-weight: bold;
	color:#B00000;
	text-decoration: none;

}
.privilegios {
	font-family: Verdana,Bitstream Vera Sans, Sans,Sans-serif;
	font-size: 8px;
	font-weight: normal;
	color: #003366;
}
.texto_asunto {
	font-family: Verdana,Bitstream Vera Sans, Sans,Sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #333333;
	text-decoration: none;
}

.texto-comun {
	font-family: "Trebuchet MS";
	font-size: 11px;
	color: #666666;
	text-decoration:none;
}

.texto-comun-bold {
	font-family: "Trebuchet MS";
	font-size: 11px;
	font-weight:bold;
	color:#000000;
	text-decoration:none;

}


.text-marroncito {
	font-size: 11px;
	color: #666600;
	font-family: Verdana,Bitstream Vera Sans, Sans,Sans-serif;
}
.Estilo96 {
	font-size: 11px;
	color: #FF6600;
	font-family: Verdana,Bitstream Vera Sans, Sans,Sans-serif;
}

.txt-paginador{
	font-family: "Trebuchet MS", Arial, "Times New Roman";
	font-size: 11px;
	color: #999999;
	text-transform: uppercase;
}
.tit-verde {
	font-family: Verdana,Bitstream Vera Sans, Sans,Sans-serif;
	font-size: 8px;
	font-weight: bold;
	color: #669933;
	text-decoration: none;
	}

.txtFecha {
	font-family: Verdana,Bitstream Vera Sans, Sans,Sans-serif;
	font-size: 12px;
	color: #E6F4FF;
	margin-right: 10px;
}

.titulo-naranja {
	font-family: Verdana,Bitstream Vera Sans, Sans,Sans-serif;
	font-size: 14px;
	color: #ff6600;
	text-transform: inherit;
}

.texto_link{
	font-family:Verdana,Bitstream Vera Sans, Sans,Sans-serif;
	font-size:10px;
	font-weight:bold;
	color:#FF3300;
	cursor:pointer;
}

.texto-nuevo{
	font-family:Verdana,Bitstream Vera Sans, Sans,Sans-serif;
	font-size:10px;
	color:#333333;
	font-weight:bold;
	
	cursor:default;
	text-decoration: none;
}

.texto-leido{
	font-family:Verdana,Bitstream Vera Sans, Sans,Sans-serif;
	color:#333333;
	font-size:10px;	
	font-weight:normal;
	
	text-decoration: none;
}

.texto-titulo1{
	font-family:Verdana,Bitstream Vera Sans, Sans,Sans-serif;
	font-size:10px;
	font-weight:bold;
	color:#333333;
	height:20px;
	text-decoration: none;
}
.texto_titulo2{
	font-family:Verdana,Bitstream Vera Sans, Sans,Sans-serif;
	font-size:24px;
}

.texto_descripcion{
	font-family:Verdana,Bitstream Vera Sans, Sans,Sans-serif;
	font-size:10px;
	
}

.azul11 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #003399;
	text-decoration: none;
}
.rojo11 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #990000;
	text-decoration: none;
}
.ancho200normal11 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	width: 200px;
}
.blanco10 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	text-decoration: none;
}
.texto_azul{
	font-family: Verdana,Bitstream Vera Sans, Sans,Sans-serif;
	font-size: 20px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	text-transform: uppercase;
	color:#006699;
	text-decoration: none;
}
.rojo10 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #990000;
	text-decoration: none;
}
