/*p{
	font-family:arial;
	border: 1px dashed #465675;
	background-color:#FFFFCC;
}
*/

/*a{
	color:#000;
	font-family:arial;
	font-size:0.7em;
}
*/
.dhtmlgoodies_tree{
	margin:0px;
	padding:0px;
}
.dhtmlgoodies_tree ul{	/* Sub menu groups */
	margin-left:20px;	/* Left spacing */
	padding-left:0px;
	display:none;	/* Initially hide sub nodes */
}
.dhtmlgoodies_tree li{	/* Nodes */
	list-style-type:none;
	vertical-align:middle;
	
}
.dhtmlgoodies_tree li a{	/* Node links */
	color:#000;
	text-decoration:none;
	font-family:arial;
	font-size:0.7em;
	padding-left:2px;
}
/*body{
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color: #000000;
}
h1{
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#000000;
}*/